extends ../main.layout.pug

block variables
  - var title = 'Мои работы'
  - 
    var socials = [
      ['vk', 'https://vk.com/tatyana.kovylina'],
      ['github', 'https://github.com/kovylina']]  

block scripts
  script(src='works.bundle.js')

block content
  section.hero
    .hero__header
      .hero__links   
        ul.socials
          each item in socials
            li.socials__item
              a(href=`${item[1]}`).socials__link
                +icon(item[0], 'socials__link-icon')

      .hero__menu
        a(href="#").hamburger-menu
          +icon('hamburger', 'hamburger-menu__img')
        
    .hero__title
      +icon('portfolio_header', 'hero__title-pic')

      .hero__user
        .user
          .user__avatar
            +image('user-avatar.jpg', 'Аватар', 'user__avatar-img')
          .user__description
            .user__name Татьяна Ковылина
            .user__info Личный сайт веб разработчика

    .hero__down_btns
      a(href="#").down-btn
        +icon('arrow_down', 'down-btn__img')
    
  section.demo
    .triangle-page
      .triangle-page__col
        +icon('triangle_left', 'triangle triangle--fill-light-beige')  
      .triangle-page__col
        +icon('triangle_right', 'triangle triangle--fill-light-beige')
    .demo__caption
      .block-title Мои работы
        +icon('works_header', 'block-title__subtitle')
    
    .slider-container 
      #slider-component

  section.reviews
    .reviews__title
      .block-title Что обо мне говорят
        +icon('about_header', 'block-title__subtitle')
    .reviews__content  
      ul.reviews__list
        li.reviews__item
          .review
            .review__text
              p Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .review__author
              .author
                .author__avatar 
                  +image('review-1.png', 'Ковальчук Дмитрий', 'author__pic')
                .author__info  
                  .author__name Ковальчук Дмитрий
                  .author__position Основатель Loftschool
        li.reviews__item
          .review
            .review__text
              p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .review__author
              .author
                .author__avatar 
                  +image('review-2.jpg', 'Сабанцев Владимир', 'author__pic')
                .author__info  
                  .author__name Сабанцев Владимир
                  .author__position Преподаватель  

    .contact-form
      .form
        .form__title
          .block-subtitle Связаться со мной
        form.form__form(action="")
          .form__edit
            each item in [['text', 'Имя','form-name'], ['email', 'Email', 'form-email']]
              .form__row
                input.form__input(type=`${item[0]}`, placeholder=`${item[1]}`, id=`${item[2]}`, name=`${item[2]}`)
            .form__row
              textarea.form__textarea(name="form-comment", id="form-comment") Ваше сообщение
          .form__btn
            button.form__button.form__button--border-right(type="submit") Отправить
            button.form__button(type="reset") Очистить
    
    .reviews__up-btns
      a(href="#").up-btn
        +icon('arrow_down', 'up-btn__img')